<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>IoT Dashboard</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="https://rawgit.com/gionkunz/chartist-js/master/dist/chartist.min.css">
   
    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>

<body>
    <!-- --------------------------Hidden Inputs to Pass Data------------------------------- -->
    <input type="hidden" name="tempData" id="tempData" value=<%= temp %>>
    <input type="hidden" name="bpmData" id="bpmData" value=<%=bpm %>>
    <input type="hidden" name="timeData" id="timeData" value=<%=times %>>
    <input type="hidden" name="eData" id="eData" value=<%= e %>>


    <!-- <div id="timeData"> <%= times %> </div>
    <div id="tempData"> <%= temp %> </div>
    <div id="bpmData"><%= bpm %> </div> -->


    <!-- ------------------------------------ Sidebar --------------------------------------- -->
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        IoT Dashboard
                    </a>
                </div>

                <ul class="nav">
                    <li class="active">
                        <a href="/">
                            <i class="pe-7s-graph"></i>
                            <p>Sync Data</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
    <!-- ------------------------------------ Navbar --------------------------------------- -->
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        </button>
                        <a class="navbar-brand" href="#">IoT Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="">
                                    <p>Account</p>
                                </a>
                            </li>
                            <!-- <li class="separator hidden-lg"></li> -->
                        </ul>
                    </div>
                </div>
            </nav>

<!-- ------------------------------------ Main Content --------------------------------------- -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- ------------------------------------ Heart Rate Chart Section --------------------------------------- -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Heart rate sensor</h4>
                                    <p class="category">Heart rate in <strong>Beats Per Minute</strong></p>
                                </div>
                                <div class="content">

                                    <div id="heart-sensor" class="ct-chart ct-perfect-fourth"></div>

                                    <div class="footer">
                                        <div class="legend">
                                            <i class="fa fa-circle text-info"></i> bpm
                                        </div>
                                        <hr>
                                        <div class="stats">
                                            <i class="fa fa-clock-o"></i> Updated at <%= date %> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       <!-- ------------------------------------ Temperature Chart Section --------------------------------------- -->
                        <div class="col-md-8">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Temperature</h4>
                                    <p class="category">Temperature in <strong>Degree Faranheit</strong></p>
                                </div>
                                <div class="content">
                                    <style>
                                        #temp-sensor {
                                            height: 300px;
                                            width: 100%;
                                        }

                                        .ct-chart-a .ct-series .ct-line,
                                        .ct-chart-a .ct-series .ct-point {
                                            stroke: red;
                                        }
                                    </style>
                                    <div id="temp-sensor" class="ct-chart-a"></div>

                                    <div class="footer">
                                        <div class="legend">
                                            <i class="fa fa-circle text-danger"></i> Temperature
                                        </div>
                                        <hr>
                                        <div class="stats">
                                            <i class="fa fa-history"></i> Updated at <%= date %> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<!-- ------------------------------------ Summarisation Section --------------------------------------- -->
                    <div class="row">
                        <!-- ------------------------------------ Mixed Chart Section --------------------------------------- -->
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="header">
                                    <h4 class="title">Temperature and Heart Rate Cumulative Plot</h4>
                                    <p class="category">Comparitive Analysis of Temperature and Heart Rate</p>
                                </div>
                                <div class="content">
                                    <div id="mixed" class="ct-chart ct-perfect-fourth"></div>


                                    <div class="footer">
                                        <div class="legend">
                                            <i class="fa fa-circle text-info"></i> Heart rate
                                            <i class="fa fa-circle text-danger"></i> Temperature
                                        </div>
                                        <hr>
                                        <div class="stats">
                                            <i class="fa fa-check"></i> Data sync instance on <%= date %>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="card ">
                                <div class="header">
                                    <h4 class="title">Data Summary</h4>
                                    <p class="category"> Tabulated data summary in sequence of occurance. </p>
                                </div>
                                <div class="content">
                                    <div class="card card-plain">
                                        <!-- <div class="header">
                                            <h4 class="title">Table on Plain Background</h4>
                                            <p class="category">Here is a subtitle for this table</p>
                                        </div> -->
                                        <div class="content table-responsive table-full-width">
                                            <table class="table table-hover">
                                                <thead>
                                                    <th>ID</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Temperature</th>
                                                    <th>Heart Rate</th>
                                                </thead>
                                                <tbody>
                                                    <% for(let i=0; i<times.length; i++){ %> 
                                                    <tr>
                                                        <td><%= i+1 %> </td>
                                                        <td><%= times[i].split('T')[0] %> </td>
                                                        <td><%= times[i].split('T')[1].split('Z')[0] %> </td>
                                                        <td><%= temp[i] %> </td>
                                                        <td><%= bpm[i] %> </td>
                                                    </tr>
                                                    <% } %> 
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script type="text/javascript"
                src="https://rawgit.com/gionkunz/chartist-js/master/dist/chartist.js"></script>
            <script>
                let timesArr = [document.getElementById("timeData").value]
                timesArr = timesArr[0].split(',').map(e => e.split('T')[0]);
                timesArr = timesArr.map(e => e.split('-')[1] + '/' + e.split('-')[2]);

                let tempArr = [document.getElementById("tempData").value]
                tempArr = tempArr[0].split(',').map(e => parseFloat(e));

                let bpmArr = [document.getElementById("bpmData").value]
                bpmArr = bpmArr[0].split(',').map(e => parseFloat(e));

                let eArr = [document.getElementById("eData").value]
                eArr = eArr[0].split(',').map(e => parseInt(e, 10));

                console.log(timesArr, tempArr, bpmArr);

                // Initialize a Line chart for heart rate
                new Chartist.Line('#heart-sensor', {
                    labels: eArr,
                    series: [bpmArr]
                });

                // Initialize a Line chart for temperture
                new Chartist.Line('#temp-sensor', {
                    labels: timesArr,
                    series: [tempArr]
                });


                // Initialize a Line chart for mixed analysis
                new Chartist.Line('#mixed', {
                    labels: timesArr,
                    series: [
                        {
                            name: 'series-1',
                            data: bpmArr
                        }, {
                            name: 'series-2',
                            data: tempArr
                        }
                    ]
                });
            </script>
</body>
</html>